n8n/workflows/google_sheets_logging_workflow.json
{
  "name": "TechGear Google Sheets Logging Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "support-logging",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "support-logging-webhook",
      "name": "Support Logging Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json:{timestamp:new Date().toISOString(), event:$json.event || $json.event_type, ticket_id:$json.ticket_id, intent:$json.intent, priority:$json.priority, payload: JSON.stringify($json)}}];"
      },
      "id": "format-support-event-row",
      "name": "Format Support Event Row",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID || \"PLACEHOLDER_SHEET_ID\"}}",
        "range": "SupportEvents!A:J",
        "options": {}
      },
      "id": "append-support-events",
      "name": "Append SupportEvents",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        560,
        -300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "TechGear Google Sheets Placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID || \"PLACEHOLDER_SHEET_ID\"}}",
        "range": "Tickets!A:J",
        "options": {}
      },
      "id": "append-tickets",
      "name": "Append Tickets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        560,
        -180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "TechGear Google Sheets Placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID || \"PLACEHOLDER_SHEET_ID\"}}",
        "range": "AIMetrics!A:H",
        "options": {}
      },
      "id": "append-ai-metrics",
      "name": "Append AIMetrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        560,
        -60
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "TechGear Google Sheets Placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID || \"PLACEHOLDER_SHEET_ID\"}}",
        "range": "SlaBreaches!A:H",
        "options": {}
      },
      "id": "append-sla-breaches",
      "name": "Append SlaBreaches",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        560,
        60
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "TechGear Google Sheets Placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID || \"PLACEHOLDER_SHEET_ID\"}}",
        "range": "Feedback!A:H",
        "options": {}
      },
      "id": "append-feedback",
      "name": "Append Feedback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "TechGear Google Sheets Placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID || \"PLACEHOLDER_SHEET_ID\"}}",
        "range": "DailyReports!A:J",
        "options": {}
      },
      "id": "append-daily-reports",
      "name": "Append DailyReports",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        560,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "TechGear Google Sheets Placeholder"
        }
      }
    },
    {
      "parameters": {},
      "id": "mock-crm-fallback",
      "name": "Mock CRM Fallback",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        0
      ]
    }
  ],
  "connections": {
    "Support Logging Webhook": {
      "main": [
        [
          {
            "node": "Format Support Event Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Support Event Row": {
      "main": [
        [
          {
            "node": "Append SupportEvents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Tickets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append AIMetrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append SlaBreaches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Feedback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append DailyReports",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock CRM Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-20T00:00:00.000Z",
  "versionId": "placeholder-local-google-sheets-v2",
  "active": false
}
